
.navbar{
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: end;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.navbar-option{
    width: 40px;
    margin: 0;
}

.options-outer-bar{
    display: flex;
    justify-content: center;
    background-color: #242424;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.options-outer-bar:hover{
    background-color: #131313;
    cursor: pointer;
}