
.navbar{
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: end;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.navbar-option{
    width: 40px;
}
