
.main-container{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
} 

.main-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  place-items: center;
  grid-row-gap: 40px;
}

.main-content::after{
  content: "";
  flex: auto;
}